body, button, a {
    font-family: "Roboto", sans-serif;
    color: hsla(306, 67%, 73%, 0.6);
    font-size: 16px;
    text-decoration: none;
    cursor: default;
}

body, html {
    width: 100vw;
    height: 100vh;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    list-style: none;
    white-space: nowrap;
    padding: 0px 7px;
}


#first-column {
    display: flex;
    flex-direction: column;
}

/* First row */ 

#first-row {
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top: 4vh;
    flex-grow: 1;
}

#logo {
    width: 92px;
    height: 30px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    margin-left: 28px;
    margin-right: 41px;
}

/* Search bar */ 

form {
    width: max(692px, 350px);
    margin-right: 41px;
    flex-shrink: 2;
}

#search {

    height: 44px;
    border-radius: 22px;
    border: 1px solid hsla(306, 67%, 93%, 1);;
    display: grid;
    grid: 
        ". input icon icon-two ." 100%
        / 5px minmax(350px, 692px) 25px 25px 0;
    align-items: center;
    column-gap: 15px;
}

#mic {
    grid-area: icon;
}

#search-icon {
    grid-area: icon-two;
}

input, input:focus {
    grid-area: input;
    border-radius: 22px;
    height: 95%;
    z-index: 1;
    border: 0;
    outline: none;
    color: hsla(306, 67%, 73%, 0.6);
}

#search:hover {
    box-shadow: 0 1px 6px #e88bde;
}

/* Right */ 

#right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 21px;
}

#right li {
   display: flex;
   align-items: center;
}

#profile-picture {
    border-radius: 50%;
}

/* Second row + it's bottom border */ 

#border-wrapper {
    display: flex; 
    width: 100vw;
    border-bottom: 1px solid hsla(306, 67%, 93%, 1);
    padding-bottom: 2vh;
}

#second-row {
    display: flex;
    margin-left: 176px;
    margin-top: 3vh;
    justify-content: space-between;
    flex-flow: row nowrap;
}

#options ul {
    display: inline-block;
    box-sizing: border-box;
}

/* Third row */

#third-row {
    margin-top: 2vh;
    margin-left: 183px;
    margin-bottom: 2vh;
}

/* Search results */ 

#wrapper-2 {
    margin-left: 183px;

}

#people-also ul li {
    padding: 0;
    margin: 0;
}

#people-also ul {
    display: block;
}