body, button, a {
    font-family: "Roboto", sans-serif;
    color: hsla(306, 67%, 73%, 0.6);
    font-size: 16px;
    text-decoration: none;
    cursor: default;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    list-style: none;
    white-space: nowrap;
    padding: 0px 7px;
}


/* First row */ 

#first-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 4vh;
}

#logo {
    width: 92px;
    height: 30px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-right: 3vw;
}

/* Search bar */ 

#search {
    width: max(692px, 350px);
    height: 44px;
    border-radius: 22px;
    border: 1px solid hsla(306, 67%, 93%, 1);;
    display: grid;
    grid: 
        ". input icon icon-two ." 100%
        / 5px minmax(300px, 692px) 25px 25px 0;
    align-items: center;
    column-gap: 15px;
}

#mic {
    grid-area: icon;
}

#search-icon {
    grid-area: icon-two;
}

input, input:focus {
    grid-area: input;
    border-radius: 22px;
    height: 95%;
    z-index: 1;
    border: 0;
    outline: none;
    color: hsla(306, 67%, 73%, 0.6);
}

#search:hover {
    box-shadow: 0 1px 6px #e88bde;
}

/* Right */ 

#right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1.5vw;
}

#right li {
   display: flex;
   align-items: center;
}

#profile-picture {
    border-radius: 50%;
}

/* Second row + it's bottom border */ 

#border-wrapper {
    display: block; 
    flex-basis: 100%;
    border-bottom: 1px solid hsla(306, 67%, 93%, 1);
    padding-bottom: 2vh;
}

#second-row {
    display: flex;
    margin-left: 176px;
    margin-top: 3vh;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: max(650px, 350px);
}

#options ul {
    display: inline-block;
    box-sizing: border-box;
}

/* Third row */

#third-row {
    margin-top: 2vh;
    margin-left: 183px;
}

#menu {
    margin-top: 3.5vh;
    margin-left: 11px;
    grid-area: options;
    display: grid;
    grid: 
    "menu-main . menu-misc"
    / min-content auto min-content; 
}

#menu-main {
    grid-area: menu-main;
    display: flex;
}

#menu-misc {
    grid-area: menu-misc;
    display: flex;
}